/* Small Screen */
.container {
  margin: 1rem;
}

.movies {
  margin: 5rem 0;
  text-align: center;
}

.movies__title {
  margin-bottom: 1rem;
  font-size: 2.44rem;
  color: #1DB954;
}

.movie__container {
  display: flex;
  flex-direction: column;
}

.movies__button{
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 10px;
  background-color: #1DB954;
  color: #fff;
}

.movies__button:hover{
  background-color: #BD7AB3;
}


/* Medium Screen */
@media (min-width: 768px) {
  .movie__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

}
